day 2/project 8/n8n/P8 – Document Ingestion.json
{
  "name": "P8 – Document Ingestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        -432
      ],
      "id": "459060bd-fc00-4291-89cf-47c3910f6367",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann-demo",
          "mode": "list"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-ai-bootcamp",
          "mode": "list",
          "cachedResultName": "n8n-ai-bootcamp",
          "cachedResultUrl": "https://github.com/tobiaszwingmann-demo/n8n-ai-bootcamp"
        },
        "filePath": "day 2/project 8/documents/"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        368,
        -432
      ],
      "id": "7e576ba1-7766-4402-a65b-f2c41369fbeb",
      "name": "List files",
      "webhookId": "7fa448db-daff-4c77-a472-c2ff56d48175",
      "credentials": {
        "githubApi": {
          "id": "dcwZECd0FxhzyJj3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann-demo",
          "mode": "list",
          "cachedResultName": "tobiaszwingmann-demo",
          "cachedResultUrl": "https://github.com/tobiaszwingmann-demo"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-ai-bootcamp",
          "mode": "list",
          "cachedResultName": "n8n-ai-bootcamp",
          "cachedResultUrl": "https://github.com/tobiaszwingmann-demo/n8n-ai-bootcamp"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        592,
        -432
      ],
      "id": "b9d62aeb-3cde-419b-b9a9-a0615f7897ba",
      "name": "Get a file",
      "webhookId": "f24ae1f7-530b-4d27-a4cc-cc4dd3c77b70",
      "credentials": {
        "githubApi": {
          "id": "dcwZECd0FxhzyJj3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        752,
        -224
      ],
      "id": "f2f4e3c3-cbdc-4a44-82ff-5cb49ebca936",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "UvEaHC6DxKEyYA9l",
          "name": "Google Gemini Api account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": true,
          "metadata": {
            "metadataValues": [
              {
                "name": "file_name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        992,
        -224
      ],
      "id": "7225d9f8-fc45-4324-8091-d537f3f4de00",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "pineconeNamespace": "it"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        -432
      ],
      "id": "3ea30db5-7b79-4522-8db4-3f070bf0d48a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HUZXJZlHg4Yt9GPO",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "18e24d00-3858-40f6-aadd-a0097f49a1c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26bf8eec37d4d0a7ee8a9b62eaf593a40b0ce784017882c7b978518d626df3a8"
  },
  "id": "OsLIMXv0JweWI4SSIiqlu",
  "tags": []
}